body {
	max-width: 800px;
	padding: 15px;
}

a {
    color: #FF8833;
}

a:hover{
    color: #FF4412;
    font-style: underline;
}
p, h1, h2 {
    font-family: Lato, Corbel, Arial, Helvetica, sans-serif;
    color: #FFFF36;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.05em;
}




